package shared

templ Input(i string, t string, l string, r string) {
  <div class="w-full">
    <label
      for={i}
      class="block text-sm font-medium text-gray-700"
    >
      { l }
    </label>

    <input
      type={t}
      name={i}
      id={i}
			class="mt-1 block w-full px-3 py-2 border border-black bg-pink-500 bg-opacity-[0.11]  rounded-md shadow-sm focus:outline-none sm:text-sm"
      required={r}
    />
  </div>
}
