package waitlist

import (
	"neurokin/views/layouts"
)

templ Index() {
	@layouts.Base() {
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>Thank you for signing up for the waitlist!</h1>
					<p>We will notify you when we are ready to launch.</p>
				</div>
			</div>
		</div>
	}
}
