package home

import "neurokin/views/layouts"
import "neurokin/views/shared"

templ Index() {
	@layouts.Fullheight() {
    @Section1()
    @Section2()
    @shared.General("test", "test", "test", "test", "test", "ltr", "green-500")
	}
}
