package about

import (
	t "neurokin/types"
	"neurokin/views/layouts"
	"neurokin/views/shared"
)

templ Index(s []t.Section) {
	@layouts.Fullheight() {
		for _, i := range s {
			@shared.General(i.Subtitle, i.Title, i.Description, i.Cta, i.Link, i.BgColor, i.Img, i.Orientation)
		}
	}
}
